<div class="row justify-content-center">
    <div class="detalles-collab">

        <h4>Detalles de colaboración</h4>

        <div class="peticion-dos">
            <p><strong>Categoría:</strong> {{collaborationType}}</p>
            <p>
                <span>Creada por {{creatorId.username}}</span>
            </p>
            <p>
                <strong>Descripción:</strong>
                <audio src="{{audioDescription}}" class="audio-player" controls>Audio</audio>
            </p>
            <p><strong>Teléfono:</strong> {{telephoneNumber}}</p>
        </div>
        <br>
        <section>
            <style>
                #collabMap {
                    width: 100%;
                    height: 200px;
                }
            </style>
            <figure collaborationId="{{_id}}" id="collabMap"></figure>
        </section>
        <article>
            <a href="/{{_id}}/accept" class="myButton-dos">Aceptar</a>
            <button onclick="history.back(-1)" class="myButton-tres">Volver</button>

            <script>
                function goBack() {
                    window.history.back();
                }
            </script>
        </article>


    </div>
</div>

<script src="/javascripts/collaboration/collaboration.map.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsApiKey}}&libraries=places&callback=initMap"></script>