<div class="row">
    <div class="col">
        <h1>Hola {{user.username}}</h1>

        <h2>Colaboraciones aceptadas:</h2>
        {{#if user.acceptedCollaborations}}
        <ul>
            {{#each user.acceptedCollaborations}}
            <li>{{collaborationType}}</li>
            <li>{{status}}</li>
            <a href="/{{_id}}/complete">completar petición</a>
            {{/each}}
        </ul>
        {{else}}
        <p>No tienes colaboraciones por realizar</p>
        {{/if}}

        <h2>Tus Colaboraciones</h2>
        {{#if user.collaborations}}
        <ul>
            {{#each user.collaborations}}
            <li>{{collaborationType}}</li>
            <li>{{status}}</li>
            <a href="/{{_id}}/close">Cerrar petición</a>
            {{/each}}
        </ul>
        {{else}}
        <p>No has solicitado colaboraciones</p>
        {{/if}}

    </div>
</div>